@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after,
h1 {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 69.8958333333vw;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  display: inline-block;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

.logo--footer {
  color: #ffffff;
}

.main-title {
  font-weight: 700;
  font-size: 2.6041666667vw;
  line-height: 1.06;
  color: #2B2B2B;
}

.title {
  font-weight: 700;
  font-size: 2.1354166667vw;
  line-height: 1.1707317073;
  color: #27AE60;
}

.subtitle {
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 1.2;
}

.button-form {
  position: relative;
  display: inline-block;
  padding: 18px 42px;
  padding-left: calc(34px + 8 * ((100vw - 1023px) / 897));
  padding-right: calc(77px + 6 * ((100vw - 1023px) / 897));
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  text-align: center;
  color: #ffffff;
  background-color: #27AE60;
  border-width: 6px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 65px;
  box-shadow: 0 0 0 1px rgba(25, 130, 189, 0.11);
  cursor: pointer;
}

.button-form::after {
  content: url("../img/svgicons/arrow.svg");
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: #35B86C;
  border-radius: 50%;
}

.button-form:hover {
  color: #27AE60;
  background-color: #ffffff;
  border: 6px solid #27AE60;
}

.button-form:hover::after {
  opacity: 0.5;
}

.button-menu {
  display: none;
}

.button-menu__checkbox {
  position: absolute;
  z-index: 5;
  width: 38px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
}

.button-menu__hamburger-lines {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38px;
  height: 28px;
}

.button-menu__line {
  width: 100%;
  height: 6px;
  border-radius: 32px;
  background-color: #27AE60;
}

.button-menu__line--1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.button-menu__line--2 {
  transition: transform 0.1s ease-in-out;
}

.button-menu__line--3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.button-menu__checkbox:checked ~ .button-menu__hamburger-lines .button-menu__line--1 {
  transform: rotate(40deg);
}

.button-menu__checkbox:checked ~ .button-menu__hamburger-lines .button-menu__line--2 {
  transform: scaleY(0);
}

.button-menu__checkbox:checked ~ .button-menu__hamburger-lines .button-menu__line--3 {
  transform: rotate(-40deg);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
}

.header__wrapper {
  display: flex;
  margin-top: 40px;
}

.header__wrapper-menu {
  display: flex;
}

.header__logo {
  margin-left: 2.6041666667vw;
  margin-right: 9.6354166667vw;
  line-height: 1.4;
}

.navigation__list {
  justify-content: flex-end;
  margin-top: 0.2604166667vw;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin-left: 5.7291666667vw;
  margin-bottom: 17px;
}

.menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #000000;
}

.menu__link:hover {
  color: #27AE60;
  border-bottom: 1px solid #F3F3F3;
}

.content.open-menu {
  display: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes left {
  0% {
    transform: translateX(0px) translateY(0%);
  }

  50% {
    transform: translateX(900px) translateY(50vh);
  }

  100% {
    transform: translateX(0px) translateY(100vh);
  }
}

@keyframes left {
  0% {
    transform: translateX(0px) translateY(0%);
  }

  50% {
    transform: translateX(900px) translateY(50vh);
  }

  100% {
    transform: translateX(0px) translateY(100vh);
  }
}

@-webkit-keyframes right {
  0% {
    transform: translateX(0px) translateY(0%);
  }

  50% {
    transform: translateX(-600px) translateY(50vh);
  }

  100% {
    transform: translateX(0px) translateY(100vh);
  }
}

@keyframes right {
  0% {
    transform: translateX(0px) translateY(0%);
  }

  50% {
    transform: translateX(-600px) translateY(50vh);
  }

  100% {
    transform: translateX(0px) translateY(100vh);
  }
}

@-webkit-keyframes rotate {
  40% {
    transform: rotate(50deg);
  }

  100% {
    transform: rotate(-50deg);
  }
}

@keyframes rotate {
  40% {
    transform: rotate(50deg);
  }

  100% {
    transform: rotate(-50deg);
  }
}

@-webkit-keyframes rotateAlternate {
  40% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

@keyframes rotateAlternate {
  40% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

.no-webp .banner {
  background-image: url(../img/background-banner.jpg); }

.banner {
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

.banner__leaves {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.banner__mint {
  position: absolute;
  top: -5.2083333333vw;
}

.no-webp .banner__mint::after {
  background-image: url(../img/mint.png); }

.banner__mint::after {
  content: "";
  position: absolute;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__mint--biggest,
.banner__mint--big,
.banner__mint--middle,
.banner__mint--small,
.banner__mint--smallest {
  -webkit-animation-iteration-count: infinite, infinite;
          animation-iteration-count: infinite, infinite;
  -webkit-animation-timing-function: linear, linear;
          animation-timing-function: linear, linear;
}

.banner__mint--biggest::after,
.banner__mint--big::after,
.banner__mint--middle::after,
.banner__mint--small::after,
.banner__mint--smallest::after {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform-origin: 50% -100%;
}

.banner__mint--biggest,
.banner__mint--big,
.banner__mint--smallest {
  -webkit-animation-name: fade, right;
          animation-name: fade, right;
  -webkit-animation-duration: 11s, 11s;
          animation-duration: 11s, 11s;
}

.banner__mint--biggest::after,
.banner__mint--big::after,
.banner__mint--smallest::after {
  -webkit-animation-name: rotate;
          animation-name: rotate;
}

.banner__mint--middle,
.banner__mint--small {
  -webkit-animation-name: left, fade;
          animation-name: left, fade;
  -webkit-animation-duration: 10s, 10s;
          animation-duration: 10s, 10s;
}

.banner__mint--middle::after,
.banner__mint--small::after {
  -webkit-animation-name: rotateAlternate;
          animation-name: rotateAlternate;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.banner__mint--biggest {
  right: 0;
  width: 13.0208333333vw;
  height: 10.15625vw;
}

.banner__mint--biggest::after {
  width: 13.0208333333vw;
  height: 10.15625vw;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.banner__mint--big {
  right: 50%;
  width: 6.6666666667vw;
  height: 5.2083333333vw;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner__mint--big::after {
  width: 6.6666666667vw;
  height: 5.2083333333vw;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.banner__mint--middle {
  left: 0;
  width: 3.90625vw;
  height: 3.0729166667vw;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.banner__mint--middle::after {
  width: 3.90625vw;
  height: 3.0729166667vw;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.banner__mint--small {
  right: 60%;
  width: 4.1666666667vw;
  height: 3.28125vw;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.banner__mint--small::after {
  width: 4.1666666667vw;
  height: 3.28125vw;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.banner__mint--smallest {
  right: 40%;
  width: 1.5625vw;
  height: 1.25vw;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.banner__mint--smallest::after {
  width: 1.5625vw;
  height: 1.25vw;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.banner__wrapper {
  display: flex;
  margin-bottom: 8.8541666667vw;
}

.banner__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 27.98vw;
  max-width: 42%;
  margin-top: calc(250px + 100 * ((100vw - 320px) / 1600));
  margin-left: 2.6041666667vw;
}

.banner__title {
  margin-bottom: 1.5104166667vw;
}

.banner__slogan {
  margin-right: 5.9895833333vw;
  margin-bottom: 2.5520833333vw;
  font-weight: 500;
  line-height: 1.3913043478;
  color: #2B2B2B;
}

.banner__slider {
  margin-top: 256px;
}

.radio-slider__wrapper {
  position: relative;
  height: 41.9791666667vw;
  min-width: 58%;
}

.radio-slider__list {
  position: relative;
  width: 100%;
}

.radio-slider__item.active {
  display: block;
}

.radio-slider__item label {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4285714286;
  text-align: center;
  color: #BFBFBF;
  cursor: pointer;
}

.radio-slider__item--expectant label {
  top: 3.90625vw;
  right: 25.78125vw;
}

.radio-slider__item--nursing label {
  top: 11.71875vw;
  right: 28.3854166667vw;
}

.radio-slider__item--safe-treats label {
  top: 19.6875vw;
  right: 25.78125vw;
}

.radio-slider__item input[type=radio]:checked + label {
  color: #2B2B2B;
  font-size: 16px;
}

.radio-slider__img img {
  display: none;
}

.radio-slider__item input[type=radio]:checked ~ .radio-slider__img img {
  position: absolute;
  z-index: 1;
  display: block;
}

.radio-slider__item--expectant input[type=radio]:checked ~ .radio-slider__img img {
  top: -2.34375vw;
  right: -15.573vw;
  width: 55.46875vw;
  height: 38.3854166667vw;
}

.radio-slider__item--nursing input[type=radio]:checked ~ .radio-slider__img img,
.radio-slider__item--safe-treats input[type=radio]:checked ~ .radio-slider__img img {
  width: 23.3854166667vw;
  height: 37.7083333333vw;
}

.radio-slider__item--nursing input[type=radio]:checked ~ .radio-slider__img img {
  top: -5.3125vw;
  right: 3.5416666667vw;
}

.radio-slider__item--safe-treats input[type=radio]:checked ~ .radio-slider__img img {
  top: -7.1354166667vw;
  right: 2.0833333333vw;
}

.radio-slider__btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  color: #fff;
  font-weight: bolder;
  background: #27AE60;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.radio-slider__btn:hover {
  opacity: 0.6;
}

.radio-slider__btn--prev {
  left: calc(0px + 200 * ((100vw - 320px) / 1600));
}

.radio-slider__btn--next {
  right: calc(0px + 200 * ((100vw - 320px) / 1600));
}

.proper-diet {
  position: relative;
  padding: 3.5416666667vw 0 0 0;
  background-color: #27AE60;
  background-image: url(../img/svgicons/circles.svg), url(../img/svgicons/circles.svg);
  background-repeat: no-repeat;
  background-position: left -206px bottom 114px, right -220px top 126px;
}

.proper-diet__wrapper {
  position: relative;
  display: flex;
}

.proper-diet__container {
  padding-bottom: 3.3333333333vw;
  width: 42.1875vw;
}

.proper-diet__title {
  margin-bottom: 2.96875vw;
  color: #ffffff;
}

.diet-list__wrapper {
  display: flex;
  justify-content: space-between;
}

.proper-diet__list {
  width: 50%;
}

.diet-list__item {
  position: relative;
  display: flex;
  margin-bottom: 0.9895833333vw;
  padding-left: 2.03125vw;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.4;
  color: #FFFFFF;
}

.diet-list__item::before,
.diet-list__item::after {
  position: absolute;
  display: block;
}

.diet-list__item::before {
  content: url(../img/svgicons/checkmark-proper-diet.svg);
  top: -0.4166666667vw;
  left: 0;
  width: 0.5729166667vw;
  height: 0.4166666667vw;
  margin-top: 0.417vw;
}

.nutritionist-info {
  position: relative;
  width: 26.1458333333vw;
  height: auto;
}

.nutritionist-info__img {
  position: absolute;
  bottom: 0;
  left: -5.625vw;
  width: 32.6041666667vw;
  height: auto;
}

.nutritionist-info__text {
  position: absolute;
  left: 1.8229166667vw;
  bottom: -10.3225806452%;
  padding: 9px 2.0833333333vw 11px;
  text-align: center;
  background-color: #ffffff;
  border: 1px dashed #27AE60;
  border-radius: 65px;
  box-shadow: 0 0 0 5px #ffffff, 0 21px 133px rgba(17, 95, 0, 0.21);
}

.nutritionist-info__name {
  font-size: 0.8333333333vw;
  font-weight: 700;
  line-height: 1.375;
  white-space: nowrap;
}

.nutritionist-info__position {
  font-weight: 600;
  font-size: 0.7291666667vw;
  line-height: 1.4285714286;
  color: #6C997F;
}

.features-list__item {
  position: relative;
  margin-bottom: 1.9270833333vw;
  padding-left: 4.1666666667vw;
}

.features-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  box-shadow: 0px 4px 35px rgba(25, 130, 189, 0.18);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
}

.features-list__item--eco-friendliness::before {
  background-image: url(../img/svgicons/leaf.svg);
}

.features-list__item--balance::before {
  background-image: url(../img/svgicons/checkmark.svg);
}

.features-list__item--individuality::before {
  background-image: url(../img/svgicons/curved-arrow.svg);
}

.features-list__item--benefit::before {
  background-image: url(../img/svgicons/health-care.svg);
}

.features-list__title {
  margin-bottom: 0.5729166667vw;
}

.features-list__text {
  font-size: 0.9375vw;
  line-height: 1.1666666667;
}

.products {
  padding-top: 8.59375vw;
}

.products__title {
  margin: 0 auto;
  margin-bottom: 4.4270833333vw;
  width: 26%;
  text-align: center;
}

.swiper-slide {
  width: 664px;
  opacity: 0.3;
  box-shadow: 0px 4px 83px rgba(30, 30, 30, 0.07);
  border-radius: 10px;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  width: 664px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.swiper-slide__title {
  margin-top: 27px;
  margin-bottom: 12px;
  text-align: center;
}

.swiper-slide__text {
  padding: 30px;
  padding-top: 0;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #6C997F;
}

.swiper-button-next,
.swiper-button-prev {
  width: 53px;
  height: 53px;
  background: #27AE60;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  color: #ffffff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #ffffff;
  border: 1px solid #27AE60;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #27AE60;
}

.swiper-button-next {
  right: calc(100px + 450 * ((100vw - 1023px) / 897));
}

.swiper-button-prev {
  left: calc(100px + 450 * ((100vw - 1023px) / 897));
}

.swiper__controls {
  display: none;
}

.no-webp .features {
  background-image: url(../img/tree.png), url(../img/advantage-girls.png), url(../img/background-delivery.jpg); }

.features {
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left 0 top 20.8333333333vw, left 5.0520833333vw top 9.1666666667vw, left 0 top -5.9895833333vw;
  background-size: 28.125vw auto, 70.2604166667vw auto, 100vw auto;
}

.features__wrapper {
  padding-top: 16.5104166667vw;
  padding-bottom: 19.2708333333vw;
  margin-left: 35.6770833333vw;
}

.features__title {
  margin-bottom: 4.4270833333vw;
}

.instagram__title {
  margin-bottom: 12px;
  text-align: center;
}

.instagram__text,
.instagram__text a {
  line-height: 1.1875;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.instagram__text a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram img {
  width: 100vw;
  height: auto;
}

.order {
  padding-bottom: 9.1145833333vw;
}

.order__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.order__title {
  margin-bottom: 1.1458333333vw;
  text-align: center;
}

.order__text {
  margin-bottom: 3.3854166667vw;
  line-height: 1.1875;
  text-align: center;
}

.order-form {
  display: flex;
  align-items: center;
}

.order-form__item {
  margin-right: 0.8854166667vw;
}

.order-form input {
  width: 20.9895833333vw;
  padding: 19px 10px 19px 2.34375vw;
  background: #E8F7EE;
  border-radius: 65px;
}

.order-form input::-moz-placeholder {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #B2DAC2;
}

.order-form input::placeholder {
  font-family: Lato;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #B2DAC2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.6041666667vw 0 3.6458333333vw 0;
  background-color: #27AE60;
}

.footer.open-menu {
  display: none;
}

.footer__logo {
  margin-bottom: 2.0833333333vw;
}

.footer .menu {
  margin-bottom: 1.1979166667vw;
}

.footer .menu__item:first-child {
  margin-left: 0;
}

.footer .menu__link {
  color: #ffffff;
}

.conditions-list {
  display: flex;
}

.conditions-list__item {
  margin-right: 1.9791666667vw;
}

.conditions-list__link {
  font-size: 12px;
  line-height: 1.1666666667;
  color: #ffffff;
}

.conditions-list__link:hover {
  opacity: 0.6;
}

@media (min-width: 767px) {
  .banner__slogan {
    font-size: calc(10px + 13 * (100vw / 1920));
  }
}

@media (min-width: 767.9px) {
  .radio-slider__list::before {
    content: "";
    position: absolute;
    top: 5.2083333333vw;
    right: -4.8177083333vw;
    width: 54.6875vw;
    height: 54.6875vw;
    background-color: #ffffff;
    border: 16.1458333333vw solid #27AE60;
    border-radius: 50%;
    opacity: 0.1;
  }

  .radio-slider__list::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10.0260416667vw;
    width: 65.3645833333vw;
    height: 65.3645833333vw;
    background-color: #ffffff;
    border: 2px solid #27AE60;
    border-radius: 50%;
    opacity: 0.1;
  }

  .radio-slider__item label {
    padding-right: 5.46875vw;
  }

  .radio-slider__item label::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    right: 0;
    width: 2.2890625vw;
    height: 2.2890625vw;
    background: #27AE60;
    border: 0.6510416667vw solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #27AE60;
  }

  .radio-slider__item label:hover {
    color: #2B2B2B;
    transform: scale(1.5) translateX(-20px);
  }

  .radio-slider__btn {
    display: none;
  }
}

@media (min-width: 1023.9px) {
  body {
    font-size: calc(14px + 2 * ((100vw - 1023px) / 897));
  }

  .banner__wrapper {
    position: relative;
  }

  .banner__slider {
    position: absolute;
    right: 0;
  }

  .radio-slider__list::before {
    top: 2.0833333333vw;
    right: 5vw;
    width: 21.9791666667vw;
    height: 21.9791666667vw;
    border-width: 6.4583333333vw;
  }

  .radio-slider__list::after {
    top: 0;
    right: 2.9166666667vw;
    width: 26.1458333333vw;
    height: 26.1458333333vw;
  }

  .radio-slider__item label {
    padding-right: 2.1875vw;
  }

  .radio-slider__item label::after {
    width: 0.915625vw;
    height: 0.915625vw;
    border-width: 0.2604166667vw;
  }

  .no-webp .proper-diet::after {
    background-image: linear-gradient(64.37deg, #27AE60 8.32%, rgba(255, 255, 255, 0) 82.9%), url(../img/pattern-proper-diet.png); }

  .proper-diet::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35.2083333333vw;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35.521vw 22.69vw;
    opacity: 0.1;
  }

  .proper-diet__list:last-child {
    margin-left: 0.5208333333vw;
  }

  .diet-list__item::after {
    content: url(../img/svgicons/checkmark-proper-diet.svg);
    top: 0.417vw;
    left: -0.3vw;
    width: 1.667vw;
    height: 1.302vw;
    opacity: 0.06;
  }
}

@media (max-width: 1023.9px) {
  .container {
    max-width: 75.5208333333vw;
  }

  .logo {
    font-size: 16px;
  }

  .main-title {
    font-size: 32px;
  }

  .title {
    font-size: 41px;
  }

  .subtitle {
    font-size: 20px;
  }

  .header__logo {
    margin-left: 0;
  }

  .no-webp .banner {
    background-image: url(../img/background-banner-tablet.jpg); }

  .banner__mint--biggest {
    width: 13.0208333333vw;
    height: 10.15625vw;
  }

  .banner__mint--biggest::after {
    width: 13.0208333333vw;
    height: 10.15625vw;
  }

  .banner__mint--big {
    width: 6.640625vw;
    height: 5.2083333333vw;
  }

  .banner__mint--big::after {
    width: 6.640625vw;
    height: 5.2083333333vw;
  }

  .banner__mint--middle {
    width: 3.90625vw;
    height: 3.125vw;
  }

  .banner__mint--middle::after {
    width: 3.90625vw;
    height: 3.125vw;
  }

  .banner__mint--small {
    width: 4.1666666667vw;
    height: 3.2552083333vw;
  }

  .banner__mint--small::after {
    width: 4.1666666667vw;
    height: 3.2552083333vw;
  }

  .banner__mint--smallest {
    width: 1.5625vw;
    height: 1.2369791667vw;
  }

  .banner__mint--smallest::after {
    width: 1.5625vw;
    height: 1.2369791667vw;
  }

  .banner__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .banner__text {
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 195px;
    margin-bottom: 100px;
    max-width: 100%;
    height: auto;
  }

  .banner__title {
    margin-bottom: 29px;
    text-align: center;
  }

  .banner__slogan {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 52px;
    text-align: center;
  }

  .banner__slider {
    margin-top: 0;
    width: 100%;
  }

  .radio-slider__wrapper {
    min-width: 100%;
    height: 75.64vw;
  }

  .radio-slider__item--expectant label {
    top: 9.765625vw;
    right: 45.5729166667vw;
  }

  .radio-slider__item--nursing label {
    top: 29.296875vw;
    right: 54.0364583333vw;
  }

  .radio-slider__item--safe-treats label {
    top: 49.21875vw;
    right: 46.875vw;
  }

  .radio-slider__item--nursing img {
    width: 50.78125vw;
    height: 81.9010416667vw;
  }

  .radio-slider__item--safe-treats img {
    width: 58.203125vw;
    height: 93.6197916667vw;
  }

  .radio-slider__item--expectant input[type=radio]:checked ~ .radio-slider__img img {
    top: 1.66vw;
    right: -30.57vw;
    width: 101.6927083333vw;
    height: auto;
  }

  .radio-slider__item--nursing input[type=radio]:checked ~ .radio-slider__img img {
    top: -7.31vw;
    right: -0.46vw;
    width: 50.78125vw;
    height: 81.9010416667vw;
  }

  .radio-slider__item--safe-treats input[type=radio]:checked ~ .radio-slider__img img {
    top: -15.14vw;
    right: -9.92vw;
    width: 58.203125vw;
    height: 93.6197916667vw;
  }

  .proper-diet {
    padding: 50px 0 0 0;
    background-image: url(../img/svgicons/circles.svg);
  }

  .proper-diet__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .proper-diet__container {
    padding-bottom: 0;
    width: 442px;
  }

  .diet-list__wrapper {
    flex-direction: column;
  }

  .proper-diet__list {
    width: 100%;
    margin-left: 20px;
  }

  .diet-list__item {
    margin-bottom: 1.8556499658vw;
    padding-left: 3.8089657193vw;
    font-size: 1.9533157535vw;
  }

  .nutritionist-info {
    width: 100%;
    height: 54.6875vw;
  }

  .nutritionist-info__img {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70.0520833333vw;
    height: 65.1041666667vw;
  }

  .nutritionist-info__text {
    left: 50%;
    bottom: -110px;
    transform: translateX(-50%);
    padding: 8px 3.2552083333vw 5px;
  }

  .nutritionist-info__name {
    font-size: 15px;
  }

  .nutritionist-info__position {
    font-size: 14px;
  }

  .features-list__item::before {
    width: 7.8125vw;
    height: 7.8125vw;
  }

  .features-list__item {
    margin-bottom: 5.078125vw;
    padding-left: 10.4166666667vw;
  }

  .features-list__text {
    font-size: 18px;
  }

  .products {
    padding-top: 221px;
  }

  .products__title {
    width: 74%;
    margin-bottom: 48px;
  }

  .swiper-button-next {
    right: calc(26px + 324 * ((100vw - 767px) / 1153));
  }

  .swiper-button-prev {
    left: calc(26px + 324 * ((100vw - 767px) / 1153));
  }

  .no-webp .features {
    background-image: url(../img/advantage-girls.png), url(../img/background-delivery-tablet.jpg); }

  .features {
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: top 10.417vw left -16.016vw, top 11.458vw left 0;
    background-size: 145.964vw auto, 100vw auto;
  }

  .features__wrapper {
    padding-top: 948px;
    padding-bottom: 175px;
    margin-left: 0;
  }

  .instagram__text,
  .instagram__text a {
    text-shadow: none;
  }

  .instagram img {
    width: 1125px;
    height: auto;
  }

  .order-form {
    flex-direction: column;
  }

  .order-form__item {
    margin-right: 0;
    width: 100%;
  }

  .order-form input {
    margin-bottom: 22px;
    width: 52.4739583333vw;
  }
}

@media (max-width: 767.9px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 97.5vw;
  }

  .main-title {
    font-size: 25px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
  }

  .button-menu {
    position: relative;
    display: flex;
    align-items: center;
    width: 38px;
    height: 28px;
  }

  .header__wrapper-menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navigation {
    display: none;
  }

  .navigation.show {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
    display: block;
    height: 100vh;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

  .menu__item {
    margin-bottom: 37px;
  }

  .menu__link {
    font-size: 20px;
  }

  .banner__wrapper {
    margin-bottom: 30px;
  }

  .banner__text {
    margin-right: 0;
    margin-left: 0;
    margin-top: 116px;
    margin-bottom: 0;
  }

  .banner__slogan {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
  }

  .banner__slider {
    width: 100%;
    margin-top: 100px;
  }

  .radio-slider__wrapper {
    height: auto;
  }

  .radio-slider__item {
    display: none;
    height: calc(445px + 1055 * ((100vw - 320px) / 1600));
    width: 100%;
  }

  .radio-slider__item label {
    position: static;
    display: block;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.05;
    color: #2B2B2B;
    cursor: default;
  }

  .radio-slider__img img {
    display: block;
    width: calc(260px + 640 * ((100vw - 320px) / 1600));
    height: auto;
    margin-right: 0;
  }

  .radio-slider__item--expectant img {
    width: calc(623px + 1077 * ((100vw - 320px) / 1600));
    height: auto;
    transform: translateX(calc(240 * (100vw - 320px) / 1600 - 166px)) translateY(calc(300 * (100vw - 320px) / 1600));
  }

  .radio-slider__item--nursing img {
    width: calc(260px + 640 * ((100vw - 320px) / 1600));
    height: auto;
    margin-right: 0;
    transform: translateX(calc(350 * (100vw - 320px) / 1600));
  }

  .radio-slider__item--safe-treats img {
    width: calc(260px + 640 * ((100vw - 320px) / 1600));
    height: auto;
    margin-right: 0;
    transform: translateX(calc(350 * (100vw - 320px) / 1600)) translateY(-20px);
  }

  .radio-slider__item input[type=radio]:checked ~ .radio-slider__img img {
    position: static;
  }

  .radio-slider__item--expectant input[type=radio]:checked ~ .radio-slider__img img {
    width: calc(623px + 1077 * ((100vw - 320px) / 1600));
    height: auto;
    transform: translateX(calc(240 * (100vw - 320px) / 1600 - 166px)) translateY(calc(300 * (100vw - 320px) / 1600));
  }

  .radio-slider__item--nursing input[type=radio]:checked ~ .radio-slider__img img,
  .radio-slider__item--safe-treats input[type=radio]:checked ~ .radio-slider__img img {
    width: calc(260px + 640 * ((100vw - 320px) / 1600));
    height: auto;
    margin-right: 0;
  }

  .radio-slider__item--nursing input[type=radio]:checked ~ .radio-slider__img img {
    transform: translateX(calc(350 * (100vw - 320px) / 1600));
  }

  .radio-slider__item--safe-treats input[type=radio]:checked ~ .radio-slider__img img {
    transform: translateX(calc(350 * (100vw - 320px) / 1600)) translateY(-20px);
  }

  .proper-diet {
    background-image: none;
  }

  .proper-diet__container {
    width: 100%;
  }

  .proper-diet__title {
    margin-bottom: 39px;
    margin-left: 20px;
  }

  .proper-diet__list {
    margin-left: 12px;
  }

  .diet-list__item::before {
    top: 0;
    width: 11px;
    height: 8px;
  }

  .diet-list__item {
    margin-bottom: 19px;
    padding-left: 30px;
    font-size: 20px;
  }

  .nutritionist-info {
    width: 100%;
    height: calc(315px + 305 * ((100vw - 320px) / 1600));
  }

  .nutritionist-info__img {
    top: auto;
    bottom: -13px;
    width: calc(320px + 306 * ((100vw - 320px) / 1600));
    height: auto;
  }

  .nutritionist-info__text {
    bottom: -73px;
    padding: 9px 5.9375vw 11px 4.6875vw;
  }

  .features-list__item::before {
    width: 35.83px;
    height: 35.83px;
    background-size: 18px;
  }

  .features-list__item {
    margin-bottom: 25px;
    padding-left: 48px;
  }

  .features-list__title {
    margin-bottom: 6px;
  }

  .features-list__text {
    font-size: 14px;
  }

  .products {
    padding-top: 143px;
  }

  .products__title {
    width: 90%;
  }

  .swiper-slide {
    width: 225px;
    overflow-x: hidden;
  }

  .swiper-slide__img {
    height: 261px;
  }

  .swiper-slide img {
    transform: translateX(-150px);
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: transparent;
    border-radius: 0;
    border-right: 4px solid #27AE60;
    border-bottom: 4px solid #27AE60;
    width: 18px;
    height: 18px;
    top: 40%;
    transform: rotate(-45deg);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    border: none;
    border-right: 4px solid #27AE60;
    border-bottom: 4px solid #27AE60;
    opacity: 0.6;
    background: transparent;
  }

  .swiper-button-next {
    right: calc(10px + 790 * ((100vw - 320px) / 1600));
  }

  .swiper-button-prev {
    left: calc(10px + 790 * ((100vw - 320px) / 1600));
    transform: rotate(135deg);
  }

  .features {
    background-position: top 10.417vw left calc(-163px + 450 * (100vw - 320px) / 1600), top 11.458vw left 0;
    background-size: calc(683px + 666 * (100vw - 320px) / 1600) auto, 100vw auto;
  }

  .features__wrapper {
    padding-top: calc(508px + 492 * ((100vw - 320px) / 1600));
    padding-bottom: 100px;
  }

  .features__title {
    margin-bottom: 38px;
  }

  .instagram img {
    width: calc(700px + 1220 * ((100vw - 320px) / 1600));
    transform: translateX(75px);
  }

  .order {
    padding-bottom: 76px;
  }

  .order__title {
    margin-bottom: 15px;
  }

  .order__text {
    margin-bottom: 38px;
  }

  .order-form input {
    width: calc(279px + 124 * ((100vw - 320px) / 1600));
    margin-bottom: 10px;
    padding: 3.4375vw 10px 3.125vw 31px;
  }

  .order-form__button {
    margin-top: 21px;
  }

  .footer {
    padding: 40px 0 27px 0;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .footer .menu {
    justify-content: center;
    align-items: flex-start;
    padding-top: 0;
    margin-bottom: 44px;
  }

  .footer .menu__item {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .conditions-list {
    flex-direction: column;
  }

  .conditions-list__item {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .banner__slogan {
    font-size: calc(10px + 22.1 * ((100vw - 320px) / 1920));
  }
}

.webp .banner { background-image: url(../img/background-banner.webp); }

.webp .banner__mint::after { background-image: url(../img/mint.webp); }

.webp .features { background-image: url(../img/tree.webp), url(../img/advantage-girls.webp), url(../img/background-delivery.webp); }

@media (min-width: 1023.9px) {

  .webp .proper-diet::after { background-image: linear-gradient(64.37deg, #27AE60 8.32%, rgba(255, 255, 255, 0) 82.9%), url(../img/pattern-proper-diet.webp); }
}

@media (max-width: 1023.9px) {

  .webp .banner { background-image: url(../img/background-banner-tablet.webp); }
}

@media (max-width: 1023.9px) {

  .webp .features { background-image: url(../img/advantage-girls.webp), url(../img/background-delivery-tablet.webp); }
}