.telegram__title {
  margin-bottom: 12px;
  
  text-align: center;
}

.telegram__text,
.telegram__text a {
  line-height: calc(19 / 16);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: #{$tabletWidth + px}) {
    text-shadow: none;
  }
}

.telegram__text a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
}

.telegram {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.telegram img {
  width: vw(1920, $maxWidth);
  height: auto;

  @media (max-width: #{$tabletWidth + px}) {
    width: 1125px;
    height: auto;
  }

  @media (max-width: #{$mobileWidth + px}) {
    @include adaptiv-value(width, 1920, 700, 0);
    transform: translateX(75px);
  }
}
