// Ширина контейнера
$maxWidth: 1920;
$maxWidthContainer: 1342;
$tabletWidth: 1023.9;
$minTabletWidth: 768;
$mobileWidth: 767.9;
$minMobileWidth: 320;

// Цвета
$black: #000000;
$white: #ffffff;
$green: #27AE60;

// Шрифты
$fontFamily: Lato;