.button-form {
  position: relative;

  display: inline-block;
  
  padding: 18px 42px;
  @include adaptiv-valueTablet(padding-left, 42, 34);
  @include adaptiv-valueTablet(padding-right, 83, 77);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
  color: $white;

  background-color: $green;
  border-width: 6px;
  border-style: solid;
  border-color: $white;
  border-radius: 65px;
  box-shadow: 0 0 0 1px rgba(25, 130, 189, 0.11);

  cursor: pointer;

  &::after {
    content: url('../../../img/svgicons/arrow.svg');
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 43px;
    height: 43px;

    background-color: #35B86C;
    border-radius: 50%;
  }

  &:hover {
    color: $green;

    background-color: $white;
    border: 6px solid $green;
  }

  &:hover::after {
    opacity: 0.5;
  }
}